@{
	var currentUser = User.Identity.Name;

}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>@ViewData["Title"]</title>
	<link href="/css/styles.css" rel="stylesheet" />
	<link href="/css/ss.css" rel="stylesheet">
	<link href="/css/program.css" rel="stylesheet" />
	<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
	<!-- Syncfusion ASP.NET Core controls styles -->
	<link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/25.1.35/fluent.css" />
	<!-- Syncfusion ASP.NET Core controls scripts -->
	<script src="https://cdn.syncfusion.com/ej2/25.1.35/dist/ej2.min.js"></script>
</head>
<body class="sb-nav-fixed">
	<nav class="sb-topnav navbar navbar-expand">
		<!-- Navbar Brand-->
		<b class="navbar-brand ps-3">Welcome @currentUser</b>
		<!-- Sidebar Toggle-->
		<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars" style="color:white"></i></button>
		<!-- Navbar-->
		<div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"></div>
		<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
				<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
					<li><a class="dropdown-item" href="#!">Home</a></li>
					<li><hr class="dropdown-divider" /></li>
					<li><a class="dropdown-item" asp-action="logout" asp-controller="Account">Logout</a></li>
				</ul>
			</li>
		</ul>
	</nav>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion" id="sidenavAccordion">
				<div class="sb-sidenav-menu">
					<div class="nav">
						<br />
						@if (User.IsInRole("admin"))
						{
							<a class="nav-link m-1 selected" asp-controller="Admin" asp-action="Profile">
								<div class="sb-nav-link-icon">
									<i class="fas fa-user"></i>
								</div>
								Profile
							</a>

							<a class="nav-link m-1" asp-controller="Admin" asp-action="GetAllStudents">
								<div class="sb-nav-link-icon">
									<i class="fas fa-graduation-cap"></i>
								</div>
								Students Crud
							</a>

							<a class="nav-link m-1" asp-controller="Admin" asp-action="GetEmployees">
								<div class="sb-nav-link-icon">
									<i class="fas fa-user-tie"></i>
								</div>
								Employee Crud
							</a>

							<a class="nav-link m-1" asp-action="Index" asp-controller="Program">
								<div class="sb-nav-link-icon">
									<i class="fas fa-book"></i>
								</div>
								Program Crud
							</a>

							<a class="nav-link m-1" asp-controller="Admin" asp-action="GetAllIntakes">
								<div class="sb-nav-link-icon">
									<i class="fas fa-calendar"></i>
								</div>
								Intake Crud
							</a>

							<a class="nav-link m-1" asp-action="Index" asp-controller="Instructor">
								<div class="sb-nav-link-icon">
									<i class="fas fa-chalkboard-teacher"></i>
								</div>
								Instructor Crud
							</a>
						}
						else if (User.IsInRole("student"))
						{
							//actions of student
						}
						else if (User.IsInRole("instructor"))
						{
							//actions of instructor
						}
						else if (User.IsInRole("StudentAffairs"))
						{
							//actions of StudentAffairs

						}
						else if (User.IsInRole("Supervisor"))
						{
							//actions of Supervisor

						}
						else if (User.IsInRole("Security"))
						{
							//actions of Security
						}
						else
						{
						}

					</div>
				</div>
				<div class="sb-sidenav-footer">
					<div class="small"> </div>
				</div>
			</nav>
		</div>
		<div id="layoutSidenav_content">
			<main class="pb-3 mt-3">
				@RenderBody()
			</main>
			<footer class="py-4 bg-light mt-auto">
			</footer>
		</div>
	</div>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="/js/scripts.js"></script>
	<ejs-scripts></ejs-scripts>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
