@model Employee

@{
    ViewData["Title"] = "Add Employee";
	var RoleId = ViewBag.StdRoleId;

}
<!DOCTYPE html>
<html lang="en">
<head>
	<style>
		.field-validation-error {
			color: red;
		}
	</style>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div style="display:flex;flex-direction:row">
			<h2 class="text-center " style="color:#5D0E41;">Add New Employee</h2>
			<a class="btn btn-dark" style="height:40px;margin-left:10px" asp-action="GetEmployees">Back </a>
		</div>
		<br />
		<div class="col-lg-6">
			<form id="AddEmp" method="post" asp-action="AddEmployee" class="border border-dark p-4" enctype="multipart/form-data">
				<div class="form-row">
					<input type="hidden" name="RoleId" value="@RoleId" />
					<div class="form-group col-md-6">
						<label asp-for="Name">Name</label>
						<input asp-for="Name" class="form-control" id="inputEmail4" placeholder="Name">
						<span asp-validation-for="Name"></span>
					</div>
					<div class="form-group col-md-6">
						<label asp-for="Age">Age</label>
						<input asp-for="Age" class="form-control" id="inputPassword4" placeholder="Age">
						<span asp-validation-for="Age"></span>
					</div>
				</div>
				<div class="form-group">
					<label asp-for="Email">Email</label>
					<input asp-for="Email" class="form-control" id="Email" placeholder="Email">
					<span asp-validation-for="Email"></span>
					<span style="color:red" id="emailError"></span>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label asp-for="Password">Password</label>
						<input asp-for="Password" class="form-control" id="inputPassword" placeholder="Password">
						<span asp-validation-for="Password"></span>
					</div>
					<div class="form-group col-md-6">
						<label asp-for="PhoneNumber">Phone</label>
						<input asp-for="PhoneNumber" type="tel" class="form-control" id="inputPhone" placeholder="Phone">
						<span asp-validation-for="PhoneNumber"></span>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-6">
						<label asp-for="UserImage">Image</label>
						<input type="file" name="Img" class="form-control-file" asp-for="UserImage" />
						<span id="imageError" class="text-danger"></span>
					</div>
					<div class="col-md-6">
						<label asp-for="Salary"></label>
						
						<input class="form-control" id="sal" asp-for="Salary" placeholder="0" type="number" min="1000" pattern="[0-9]*" />
						<span id="salError" class="text-danger"></span>
					</div>
				</div>
				<div class="col-md-6">
					<label asp-for="Type">Employee Type:</label>
					<br />
					<input type="radio" asp-for="Type" name="Type" value="StudentAffairs">
					<label for="StudentAffairs">student Affair</label>
					<br />
					<input type="radio" asp-for="Type" name="Type" value="Security">
					<label for="Security">Secuirity</label>
				</div>
				<button type="submit" class="btn btn-danger btn-block">Add Employee</button>
			</form>
		</div>
	</div>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script>
		document.getElementById('AddEmp').addEventListener('submit', function (event) {
			var userImage = document.getElementById('UserImage').files[0];
			var Salary = document.getElementById('sal').value;
			document.getElementById('imageError').innerText = '';
			document.getElementById('salError').innerText = '';
			if (Salary < 1000) {
				document.getElementById('salError').innerText = 'salary must be between 1000 & 20.000';
				event.preventDefault();
			}
			if (!userImage) {
				document.getElementById('imageError').innerText = 'Please select an image.';
				event.preventDefault();
			}
		});
		$('#Email').on('blur', function () {
			var email = $(this).val();
			if (email) {
				$.ajax({
					url: '/Admin/CheckEmailUniquenessForNewUsers',
					type: 'GET',
					data: { email: email },
					success: function (response) {
						if (response.isUnique) {
							// Email is unique
							$('#emailError').text('');
						} else {
							// Email already exists
							$('#emailError').text('Email already exists');
							event.preventDefault();
						}
					},
					error: function (xhr, status, error) {
						console.error(xhr.responseText);
					}
				});
			}
		});
		
	</script>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>