@model Instructor
@{

   
    SelectList Alltracks = new SelectList(ViewBag.AllTracks, "Id", "Name");

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="CreateEdit">
        <form asp-action="Add" asp-controller="Instructor" method="post" enctype="multipart/form-data">
            <partial name="CreateEdit"></partial>
            <input type="file" name="InsImg" />
            <input type="submit" />
        </form>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
