@model Instructor
<div class="form form-control">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
</div>
<div class="form form-control">
    <label asp-for="Email"></label>
    <input asp-for="Email" />
</div>
<div class="form form-control">
    <label asp-for="Password"></label>
    <input asp-for="Password" />
</div>
<div class="form form-control">
    <label asp-for="Salary"></label>
    <input asp-for="Salary" />
</div>
<div class="form form-control">
    <label asp-for="Age"></label>
    <input asp-for="Age" />
</div>