@model Instructor
@{
    Layout = "_sharedIns";
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="CreateEdit">
        <form asp-action="Edit" asp-controller="Instructor" method="post" enctype="multipart/form-data">
            <partial name="CreateEdit"></partial>
            <input type="submit" value="Save" />
        </form>
    </div>
   
</body>
</html>
