@model Instructor
@{
    Layout = "~/Views/Shared/SharedLayout.cshtml";
   // Layout = "_sharedIns";
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="CreateEdit">
        <form  method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <partial name="CreateEdit"></partial>
           
            <input type="submit" value="Save" />
        </form>
    </div>
   
</body>
</html>
