@model Instructor
@{
    Layout = "~/Views/Shared/SharedLayout.cshtml";
   // Layout = "_sharedIns";
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="CreateEdit">
        <form  method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <partial name="CreateEdit"></partial>


            <div class="row">
                <div class="col-2 d-flex align-items-center justify-content-center">
                </div>
                <div class="col-7">
                    <input type="hidden" asp-for="Password" class="form-control" />
                </div>
            </div>

            <div class="text-center d-grid gap-2 col-4 mx-auto">
                <input type="submit" value="Save" class="btn btn-info" />
           </div>
        </form>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
