@{
    ViewData["Title"] = "Home Page";
}
<html>
    <head>
   
    </head>
    <body>
        <div class="text-center">
            @* <h1 class="display-4">Welcome  @ViewBag.id</h1> *@
        </div>
    </body>
</html>
 

