
@{
    ViewData["Title"] = "StaffAttendance";
    Layout = "~/Views/Shared/_SLayout.cshtml";
    var today = DateOnly.FromDateTime(DateTime.Now);
    string formattedDate = today.ToString("yyyy-MM-dd");

}
<div id="container" class="container-fluid mt-3">
    <div class="row justify-content-around">
        <div class="col-3">
            <input type="date" class="form-control" id="date" value="@formattedDate" />
        </div>
        <div class="col-5">
            <select id="stafftype" class="form-control" onchange="GetStaffAttendanceList(this.value)">
                <option selected value="1">Instructors</option>
                <option value="2">Employees</option>
            </select>
        </div>
        <input type="submit" value="Show" name="Submit" class="btn btn-success col-2" onclick="GetStaffAttendanceList(stafftype.value,date.value)" />
    </div>
</div>
<div id="AttList" class="mt-3 container row justify-content-around">
</div>

@section Scripts {
    <script>
        function GetStaffAttendanceList(typeno,date) {
            $.ajax({
                url: "/Attendance/GetStaffAttendance",
                data: { TypeNo: typeno , Date:date},
                success: function (result) {
                    $('#AttList').html('');
                    $("#AttList").html(result)
                }
            });
        }
    </script>

}

