@using Attendance_Tracking_System.View_Models

@{
    ViewData["Title"] = "Students Attendance";
    Layout = "~/Views/Shared/SharedLayout.cshtml";

    var Programs = ViewBag.Programs;
    SelectList ProgramsList = new SelectList(Programs, "Id", "Name");
    var Tracks = ViewBag.Tracks;
    SelectList TracksList = new SelectList(Tracks, "Id", "Name");
    var cIntake = ViewBag.Intake;
}
<div id="container" class="container-fluid mt-3">
    <div class="row justify-content-evenly">
        <input type="hidden" value="@cIntake.No" id="intake" />
        <div class="col-4">
            <label class="fst-italic text-muted">Program</label>
            <select asp-items=ProgramsList id="pros" class="form-control" onchange="GetTracks(this.value)"></select>
        </div>
        <div class="col-4">
            <label class="fst-italic text-muted">Track</label>
            <select asp-items=TracksList id="tracks" class="form-control"></select>
        </div>
        <div class="col-3 mt-4 offset-1">
          <input type="submit" value="Show Students" name="Submit" class="btn btn-success" onclick="GetAttendanceList(pros.value,tracks.value,intake.value)" />
          <button class="btn btn-dark MarkBtn" type="submit" onclick="MarkAbsence(pros.value,tracks.value,intake.value)">Mark Absence <i class="fas fa-times fa-lg"></i></button>
        </div>
    </div>
</div>
<div id="AttList" class="mt-3 container row justify-content-around">

</div>

@section Scripts{
    <script>
    function GetTracks(id){
        $.ajax({
            url: "/Security/GetTracks",
            data: {id:id},
            success: function(result){
                document.getElementById("tracks").innerHTML = '';
                for (let item of result) { 
                        document.getElementById("tracks").innerHTML += `<option value=${item.id}>${item.name}</option>`
               }
        }});
    }

    function GetAttendanceList(pid, tid, ino) {
            $.ajax({
                url: "/Security/GetAttendanceList",
                data: { Pid: pid,Tid:tid,Ino:ino },
                success: function (result) {
                    $("#AttList").html(result)
                }
            });
    }
        function GetCurrentIntake(pid) {
            $.ajax({
                url: "/Security/GetCurrentIntake",
                data: { Pid: pid },
                success: function (result) {
                    document.getElementById("intake").value = result.no;
                }
            });
    }
        function MarkAbsence(pid, tid, ino) {
            $.ajax({
                url: "/Attendance/MarkStdAbsence",
                data: { Pid: pid, Tid: tid, Ino: ino },
                success: function (result) {
                    if (result) {
                        // Reload the page upon successful marking of absence
                        location.reload();
                    }
                }
            });
        }
    // Event Registeration
        document.getElementById("pros").addEventListener("change", (ev)=> {

            GetCurrentIntake(ev.target.value)
        }
        );
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/attpartial.js"></script>
}

