
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SLayout.cshtml";

    var Programs = ViewBag.Programs;
    SelectList ProgramsList = new SelectList(Programs, "Id", "Name");
    var Tracks = ViewBag.Tracks;
    SelectList TracksList = new SelectList(Tracks, "Id", "Name");
}

<h1>Index</h1>
<div id="container" class="container-fluid mt-3">
    <div class="row">
        <div class="col-4">
            <select asp-items=ProgramsList id="pros" class="form-control" onchange="GetTracks(this.value)"></select>
        </div>
        <div class="col-4">
            <select asp-items=TracksList id="tracks" class="form-control"></select>
        </div>
        <input type="submit" value="Submit" name="Submit" class="btn btn-success col-2" />
    </div>
</div>

@section Scripts{
    <script>
    function GetTracks(id){
        $.ajax({
            url: "/Security/GetTracks",
            data: {id:id},
            success: function(result){
                document.getElementById("tracks").innerHTML = '';
                for (let item of result) { 
                        document.getElementById("tracks").innerHTML += `<option value=${item.id}>${item.name}</option>`
               }
        }});
    }
    </script>
}

