@model List<Attendance_Tracking_System.Models.Attendance>
@{
    ViewData["Title"] = "My Attendance";
    Layout = "~/Views/Shared/SharedLayout.cshtml";
}

<h3 style="text-align:center; color:#15859c" class="mt-3"> My Attendance </h3>
<head>
    <style>
        th {
            background-color: #001F3D !important;
            color: white;
        }

        .dt-button {
            background-color: #001F3D !important;
            color: white !important;
        }
        .dt-button:hover {
            background-color: #15859c !important;
            color: white !important;
        }
    </style>
</head>
<div id="AttList" class="container row justify-content-center">
<div class="col-10 mt-3">
    <table class="table text-center table-striped table-responsive table-bordered" id="listTable">
        <thead>
            <tr>
                <th>Date</th>
                <th>Attendance Status</th>
                <th>Arrival Time</th>
                <th>Leave Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rec in Model)
            {
                
                    
               <tr>
                 <td>@rec.Date</td>
                 <td>@rec.AttendanceStatus</td>
                <td>@(rec.ArrivalTime.HasValue ? rec.ArrivalTime.ToString() : "Not Set")</td>
                <td>@(rec.LeaveTime.HasValue ? rec.LeaveTime.ToString() : "Not Set")</td>
               </tr>
                    
                
            }
        </tbody>
    </table>
</div>
</div>
@section Scripts {
    <script src="https://cdn.datatables.net/buttons/3.0.1/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.dataTables.js"></script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.1/js/buttons.print.min.js"></script>
    <script>
        $('#listTable').DataTable({
            layout: {
                topStart: {
                    buttons: [
                        'copyHtml5', 'csvHtml5', 'excelHtml5'
                    ]
                }
            }
            
        });
    </script>
}

