
@model List<Attendance>

@{
    Layout = null;
}
<style>

    .tstyle {
        text-align: center;
        width:100%;
        margin: 20px;
        border-radius: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
    }
    #layoutSidenav_nav 
    {
        background-color: #D8E5E8;
    }

    td:hover {
        cursor: pointer;
    }
    .py-4 {
        padding-top: 0 !important;
        padding-bottom: 0px !important;
    }
    body{
        overflow:hidden;
    }

 
</style>


 <div class="container mt-3 m-auto">
    @if (Model.Any())
    {
        <h3 class="text-start">Employee Id:@Model.First().User.Id</h3>
        <table class="table table-hover display">
            <thead style="background-color:#001F3D;color:white">
                <tr>
                    <th>Date</th>
                    <th>arrival Time</th>
                    <th>end Time</th>
                    <th>attendance Staus</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var attendance in Model)
                {
                    <tr>
                        <td>@attendance.Date</td>
                        <td>@attendance.ArrivalTime</td>
                        <td>@attendance.LeaveTime</td>
                        <td>@attendance.AttendanceStatus</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h1>No attendance records found</h1>
    }
</div>


