@model Employee

@{
    ViewData["Title"] = "EditProfile";
}

<h1>Edit Profile OF Employee :@Model.Name</h1>

<div class="container">
<div class="row justify-content-around">
    <div class="col-md-6">
        <form asp-action="EditProfile" enctype="multipart/form-data">
           @*  <div asp-validation-summary="All" class="text-danger"></div> *@
            <input type="hidden" asp-for="UserImage" />
                <input type="hidden" asp-for="Id" />
           @*  <input type="hidden" asp-for="Salary"/> *@
            <input type="hidden" asp-for="Type" value="@EmployeeType.StudentAffairs" />
            <div class="form-group mt-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
                <div class="form-group mt-3">
                    <label asp-for="Salary" class="control-label"></label>
                    <input asp-for="Salary" class="form-control" />
                    <span asp-validation-for="Salary" class="text-danger"></span>
                </div>
            <div class="form-group mt-3">
                <label class="control-label">Upload An Image</label>
                <input type="file" class="form-control" name="EmpImage" />
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


