
@{
    ViewData["Title"] = "Inavald ID";
}

<h1>InavaldID</h1>
<h1 style="color:indigo;text-align:center">Inavlid Id , please Enter Valid Id </h1>
<a href="/GetStudents/StudentAffairs" class="btn btn-outline-info" >Back</a>

