@model ITIProgram
@{
    ViewData["Title"] = "Create";
   
}
<h1 style="color:#15859c;margin-left:13%;">Create Program</h1>
<div class="w-75 m-auto mt-4">
        <div class="card mb-3">
            <div class="card-body">
            <form method="post" class="row">

        <input hidden asp-for="Id"/>
        <div class="form-group mt-3">
            <label asp-for="Name" class="control-label mb-2"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
                <div class="form-group mt-3">
            <label asp-for="Duration" class="control-label mb-2"></label>
            <select asp-for="Duration" class="form-control">
                <option value="">Select Duration</option>
                @foreach (var duration in Enum.GetValues(typeof(ProgramDuration)))
                {
                    <option value="@duration">@duration</option>
                }
            </select>
            <span asp-validation-for="Duration" class="text-danger"></span>
        </div>
         <div class="form-group mt-3">
            <label asp-for="IsDeleted" class="control-label mb-2"></label>
            <select asp-for="IsDeleted" class="form-control">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>
            <span asp-validation-for="IsDeleted" class="text-danger"></span>
        </div>
         <div class="form-group  mt-3">
                    <input type="submit" value="Submit" class="btn w-25" style="background-color:#15859c;color:#fff"/>
            <a class="btn w-25" style="background-color:#1472cc;color:#fff"
               asp-action="Index" asp-controller="Program">
                Back
            </a>
        </div>
    </form>
</div>
</div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<partial name="_ValidationScriptsPartial" />

