
@{
    ViewData["Title"] = "Show";
    Layout = "~/Views/Shared/_ProgramLayout.cshtml";
}

<style>
    .p {
        background-color:#15859c;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 10px 20px;
        width: 60%;
        margin-bottom:40px;
        margin: auto;
        color: #fff;
        text-align:center;
        font-size:30px;
    }

</style>
<h1 class="text-center mb-4" style="color:#001F3D">ITI Programs</h1>
<div class="p"> Professional Training Program </div><br />
<div class="p"> Intensive Code Camp - (ICC) </div>
